<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Mohon tunggu...</title>
    </head>
    <body>
        Mohon tunggu...

        <script>
        localStorage.setItem('prikaAccessToken', '{{ accessToken }}')
        </script>
    </body>
</html>
